trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  serviceConnectionName: 'ARM'

steps:
- task: AzureKeyVault@1
  displayName: "Download key vault variables for Terraform"
  inputs:
    azureSubscription: $(serviceConnectionName)
    KeyVaultName: 'NOBS'
    SecretsFilter: 'AKSClientId'
- task: AzureCLI@2
  inputs:
    azureSubscription: $(serviceConnectionName)
    scriptType: 'pscore'
    scriptLocation: 'inlineScript'
    inlineScript: 'az storage account create -n nobsstorageaccount -g NoBS -l eastus --sku Standard_LRS'
- task: TerraformTaskV1@0
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: $(serviceConnectionName)
    backendAzureRmResourceGroupName: 'NoBS'
    backendAzureRmStorageAccountName: 'nobsstorageaccount'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'tf/terraform.tfstate'

- task: TerraformTaskV1@0
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: $(serviceConnectionName)
